<div class="title">
    <h1>Histórico Consumos por Tramos</h1>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col">
        <button mat-raised-button [disabled]="!formSections" class="btn btn-primary btn-sm" (click)="getHistorical()">
          <mat-icon>add</mat-icon> Consultar
        </button>
      </div>
    </div>
    <br>
  
    <mat-card-content>
      <form [formGroup]="formSections">
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Seleccione Fecha Inicial</mat-label>
              <input matInput [matDatepicker]="pickerInicio" formControlName="dateStart">
              <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
              <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>
          </div>
  
          <div class="col-6">
            <mat-form-field>
              <mat-label>Seleccione Fecha Final</mat-label>
              <input matInput [matDatepicker]="pickerFin" formControlName="datefinish">
              <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
              <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field>
          </div>
  
        </div>
  
  
      </form>
  
    </mat-card-content>
  
  
  
  
    <!-- table -->
  
  
  </div>