table {
  width: 100%;
}

.mat-column-make {
  width: 20%
}

.mat-column-model {
  width: 20%
}

.mat-column-color {
  width: 20%
}

.mat-column-year {
  width: 15%
}

.mat-column-doors {
  width: 15%
}

.mat-column-actions {
  width: 10%
}